:root {
  --rad: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 300px;
  height: 200px;
  background: #1abc9c;
  border-radius: var(--rad);
}

h1 {
  text-align: center;
}

.values {
  display: flex;
  align-items: center;
  justify-content: center;
}

.values h3 {
  padding: 30px;
}

.values input {
  padding: 10px;
}
