:root {
  --topL: 0px;
  --topR: 0px;
  --botL: 0px;
  --botR: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 300px;
  height: 200px;
  background: #1abc9c;
  border-radius: var(--topL) var(--topR) var(--botR) var(--botL);
}

h1 {
  text-align: center;
}

.values {
  display: flex;
  align-items: center;
  justify-content: center;
}

.values h3 {
  padding: 30px;
}

.values input {
  padding: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #2874a6;
  color: #fff;
  height: 30px;
  width: 80px;
  border: 1px solid black;
  cursor: pointer;
}
